/* You can add global styles to this file, and also import other style files */
*{
      font-family: "Roboto", sans-serif;
      color: #f7f4f7;
      background-color: #0d123f;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
