/* You can add global styles to this file, and also import other style files */
*{
      font-family: "Roboto", sans-serif;
      color: #140307;
      background-color: #e7edf0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
