<header class="bg-[#0e1a50] text-white shadow w-full">
  <div class="flex justify-between items-center px-6 py-2">
    
    <!-- Esquerda: Logo + Nome -->
    <div class="flex items-center gap-2">
      <img src="/public/favicon.ico" alt="Logo" class="h-8 w-auto">
      <span class="font-semibold text-lg">Upskill-Dev EAD</span>
    </div>

    <!-- Direita: Botões -->
    <div class="flex items-center gap-2 bg-white/10 rounded-full px-4 py-1 shadow">
      <a href="/login"
         class="text-white border border-white px-3 py-1 text-sm rounded hover:bg-white hover:text-[#0e1a50] transition">
        Entrar
      </a>
     <a routerLink="/to-sign"
   class="bg-white text-[#0e1a50] px-3 py-1 text-sm rounded hover:bg-gray-100 font-semibold transition">
  Assinar
</a>
    </div>

  </div>
</header>





