<header class="bg-black dark:bg-green-950 text-white shadow w-full header-multi-border">
  <div class="flex justify-between items-center px-4 py-3"> <div class="flex items-center gap-2">
      <img src="../../assets/logo/redskill.png" alt="Logo" class="h-7 w-auto">
      <span class="font-semibold text-base">Upskill-Dev EAD</span>
    </div>

    <div class="flex items-center gap-1 bg-white/10 rounded-full px-3 py-0.5 shadow">
      <a href="/login"
         class="text-white border border-white px-2 py-0.5 text-xs rounded hover:bg-white hover:text-black transition">
        Entrar
      </a>
       <a routerLink="/to-sign"
         class="bg-white text-black px-2 py-0.5 text-xs rounded hover:bg-gray-100 font-semibold transition">
         Assinar
       </a>
    </div>

  </div>
</header>





