<div class="flex flex-wrap justify-center gap-4 p-4 rounded-lg bg-white dark:bg-gray-800 shadow-lg">
  <div class="theme-option" [class.selected]="activeTheme === 'roxo'" (click)="selectTheme('roxo')">
    <img src="../../assets/userbaner/roxo.jpg" alt="Tema Roxo" class="w-full h-full object-cover rounded-md" />
    <div class="theme-label">Roxo</div>
  </div>

  <div class="theme-option" [class.selected]="activeTheme === 'azul'" (click)="selectTheme('azul')">
    <img src="../../assets/userbaner/azul.jpg" alt="Tema Azul" class="w-full h-full object-cover rounded-md" />
    <div class="theme-label">Azul</div>
  </div>

  <div class="theme-option" [class.selected]="activeTheme === 'rosa'" (click)="selectTheme('rosa')">
    <img src="../../assets/userbaner/rosa.jpg" alt="Tema Rosa" class="w-full h-full object-cover rounded-md" />
    <div class="theme-label">Rosa</div>
  </div>

  <div class="theme-option" [class.selected]="activeTheme === 'vermelho'" (click)="selectTheme('vermelho')">
    <img src="../../assets/userbaner/vermelho.jpg" alt="Tema Vermelho" class="w-full h-full object-cover rounded-md" />
    <div class="theme-label">Vermelho</div>
  </div>
</div>